.status-bar {
  margin: 5px;
  display: flex;
}

.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 4px;
}
.status-bar__column:nth-child(2) {
  text-align: center;
}
.status-bar__column:last-child {
  text-align: end;
}
